<div appConfirmDialogDismiss class="salary-editor">
  <form #periodForm="ngForm" class="period-form" (ngSubmit)="savePeriod(periodForm)">
    <div class="form-grid">
      <label>
        <span>Company name</span>
        <input
          pInputText
          name="companyName"
          [(ngModel)]="periodModel.companyName"
          maxlength="120"
          placeholder="Company"
          required
        >
      </label>
      <label>
        <span>Position description</span>
        <input
          pInputText
          name="positionDescription"
          [(ngModel)]="periodModel.positionDescription"
          maxlength="250"
          placeholder="e.g. Senior developer"
          required
        >
      </label>
      <label>
        <span>Monthly salary</span>
        <input
          pInputText
          appMoneyInput
          name="monthlySalary"
          [(ngModel)]="periodModel.monthlySalary"
          [moneyMin]="0.01"
          placeholder="0.00"
          required
        >
      </label>
      <label>
        <span>Currency used</span>
        <p-select
          name="currency"
          [(ngModel)]="periodModel.currency"
          [options]="currencies"
          optionLabel="name"
          optionValue="code"
          [filter]="true"
          filterBy="name,code"
          appendTo="body"
          required
        >
          <ng-template #selectedItem let-selected>
            <span>{{ selected.code }} · {{ selected.name }}</span>
          </ng-template>
          <ng-template #item let-currency>
            <span>{{ currency.code }} · {{ currency.name }}</span>
          </ng-template>
        </p-select>
      </label>
      <label>
        <span>Extra pay amount</span>
        <input
          pInputText
          appMoneyInput
          name="extraPayAmount"
          [(ngModel)]="periodModel.extraPayAmount"
          [moneyMin]="0.01"
          placeholder="0.00"
          required
        >
      </label>
      <label>
        <span>Start date</span>
        <p-datepicker
          name="startDate"
          [(ngModel)]="startDate"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          [readonlyInput]="true"
          appendTo="body"
          [baseZIndex]="12000"
          required
        />
      </label>
      <label>
        <span>End date</span>
        <p-datepicker
          name="endDate"
          [(ngModel)]="endDate"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          [readonlyInput]="true"
          [minDate]="startDate"
          appendTo="body"
          [baseZIndex]="12000"
          required
        />
      </label>
    </div>
  </form>
  <div class="dialog-actions">
    <p-button
      label="Cancel"
      severity="secondary"
      [outlined]="true"
      type="button"
      (onClick)="close()"
    />
    <p-button
      label="Save changes"
      icon="pi pi-check"
      type="button"
      [disabled]="periodForm.invalid || endDate < startDate"
      (onClick)="submit(periodForm)"
    />
  </div>
</div>
